@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 11% 94%;
    --foreground: 195 11% 20%;
    --card: 0 0% 100%;
    --card-foreground: 195 11% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 195 11% 20%;
    --primary: 195 11% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 191 68% 90%;
    --secondary-foreground: 195 11% 20%;
    --muted: 193 11% 88%;
    --muted-foreground: 195 11% 45%;
    --accent: 191 68% 59%;
    --accent-foreground: 195 11% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 11% 85%;
    --input: 195 11% 85%;
    --ring: 195 11% 36%;
    --radius: 0.75rem;
    --chart-1: 195 11% 36%;
    --chart-2: 191 68% 59%;
    --chart-3: 193 11% 20%;
    --chart-4: 191 68% 80%;
    --chart-5: 195 11% 50%;
  }

  .dark {
    --background: 195 11% 10%;
    --foreground: 193 11% 94%;
    --card: 195 11% 12%;
    --card-foreground: 193 11% 94%;
    --popover: 195 11% 12%;
    --popover-foreground: 193 11% 94%;
    --primary: 193 11% 90%;
    --primary-foreground: 195 11% 10%;
    --secondary: 195 11% 20%;
    --secondary-foreground: 193 11% 94%;
    --muted: 195 11% 20%;
    --muted-foreground: 195 11% 65%;
    --accent: 191 68% 59%;
    --accent-foreground: 195 11% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 11% 20%;
    --input: 195 11% 20%;
    --ring: 193 11% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}